@media screen and (max-width:800px) {
    header .container {
        display: flex;
        flex-direction: column;
    }

    #header-left {
        display: flex;
        flex-direction: row;
        justify-content: start;
    }

    .botao-assistir, .botao-info {
        margin-top: 5px;
        width: 190px;
    }

    .serie-principal {
        width: 100%;
        height: 100%;
    }

    .titulo {
        width: 100%
    }
    
}

@media screen and (min-width:1000px) {
    .descricao {
        width: 50%;
    }
}